.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__menu {
  display: none;
}

.header__menu__bar {
  display: block;
  color: var(--clr-light);
  height: var(--size-2xl);
  width: var(--size-2xl);
  margin-right: 2em;
}

/* 
@media (min-width: 475px) {
}

@media (min-width: 640px) {
} */

@media (min-width: 768px) {
  .header__menu {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    gap: 2em;
  }

  .header__menu__link {
    color: var(--clr-slate400);
    font-size: var(--size-xs);
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    transition: color 0.3s;
  }

  .header__menu__link:hover {
    color: var(--clr-rose);
  }

  .header__menu__line {
    border: 1px solid var(--clr-slate400);
    padding-top: 1.5em;
  }
  .header__menu__button__sun {
    display: block;
    color: var(--clr-slate400);
    width: var(--size-base);
    height: var(--size-base);
  }

  .header__menu__link__resume {
    font-size: var(--size-xs);
    text-decoration: none;
    margin-right: var(--size-5xl);
  }

  .header__menu__bars {
    display: none;
  }
}

@media (min-width: 1080px) {
  .header__menu__link {
    font-size: var(--size-sm);
  }

  .header__menu__button__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }

  .header__menu__link__resume {
    font-size: var(--size-sm);
    text-decoration: none;
    margin-right: var(--size-5xl);
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
